* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  width: 1280px;
}

/* HEADER */

.header {
  font-family: 'Montserrat', sans-serif;
}

.header-nav {
  color: #ff0000;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  margin: 25.5px auto;
  letter-spacing: 2.7px;
}

.header-nav li {
  display: inline;
  margin: auto 25px;
}

li a {
  color: #ff0000;
  text-decoration: none;
  text-transform: uppercase;
}

/* MAIN */

.main {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.main-title {
  text-transform: uppercase;
  text-align: center;
  color: #373737;
  font-weight: 700;
  font-size: 22px;
  letter-spacing: 3.3px;
  margin: 48px auto 38px;
}

.text {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 2.4px;
  text-align: center;
  color: #373737;
  width: 1145px;
  height: auto;
}

.text-first {
  margin: auto auto 28px;
}

.text-second {
  margin: auto auto 66px;
}

.button {
  cursor: pointer;
  padding: 20px 40px;
  margin: 0 auto 82px;
  background-color: #ff0000;
  color: #ffffff;
  text-transform: uppercase;
  border: none;
  border-radius: 4px;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 1.8px;
  display: inline-block;
}

/* FOOTER*/

.footer {
  font-family: 'Montserrat', sans-serif;
  text-align: end;
}

.copyright {
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 2.4px;
  color: #373737;
  margin: auto 105px 29px;
}
